 @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
@media only screen and (max-width: 430px) {
body {
   font-family: 'Barlow', sans-serif;
  background-color: #f5ebeb;
  color: #1b1c21;
  overflow-x: hidden;
}
.menu__list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  padding: 8px 16px;
  margin: 0;
  list-style: none;
  scrollbar-width: none;
}

.menu__list::-webkit-scrollbar {
  display: none;
}

.menu__item {
  flex: 0 0 auto;
  padding: 5px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #f5ebeb;
  font-size: 14px;
  color: #7e7e82;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.menu__item:hover {
  background-color: #e0e0e0;
}

.menu__item--active--true {
  background-color: #fff;
  border: 2px solid #41f6d7;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
}
.main__image-block {
  padding: 0 16px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}


.main__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

 .text-block {
      background:#f5ebeb;
      padding: 16px 16px;
 }
 .text-block__title {
      font-size: 24px;
      margin: 35px 0 16px;
    }

    .text-block__text {
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.text-block__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #1b1c21;    
  text-decoration: none;
  background: none;
  border: none;
  margin-top: 16px;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.text-block__link:hover {
  color: #000;
}
.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid #41f6d7;
  border-radius: 10px;
  color: #7e7e82;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f0fdfc;
}

.button__icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.main__image-block {
  display: flex;
  align-content:  space-between;
  margin: 0;
}


    
 .header {
  display: flex;
  margin: 0 ;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 88px; 
  background-color: #fff;
  box-sizing: border-box;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  gap: 8px;
}

.header__right {
  gap: 12px;
}

.header__logo {
  height: 55px;
  object-fit: contain;
}

.header__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}
}

/*@media only screen and (min-width: 768px) {
  body {
   font-family: 'Barlow', sans-serif;
  background-color: #f5ebeb;
  color: #1b1c21;
  overflow-x: hidden;
}
.menu__list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  padding: 8px 24px;
  margin: 0;
  list-style: none;
  scrollbar-width: none;
}

.menu__list::-webkit-scrollbar {
  display: none;
}

.menu__item {
  flex: 0 0 auto;
  padding: 5px 24px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #f5ebeb;
  font-size: 14px;
  color: #7e7e82;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.menu__item:hover {
  background-color: #e0e0e0;
}

.menu__item--active--true {
  background-color: #fff;
  border: 2px solid #41f6d7;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__main {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
}
.main__image-block {
  padding: 0 24px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
}


.main__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

 .text-block {
      background:#f5ebeb;
      padding: 24px 24px;
 }
 .text-block__title {
      font-size: 24px;
      margin: 35px 0 16px;
    }

    .text-block__text {
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.text-block__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #1b1c21;    
  text-decoration: none;
  background: none;
  border: none;
  margin-top: 16px;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.text-block__link:hover {
  color: #000;
}
.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  background-color: #fff;
  border: 1px solid #41f6d7;
  border-radius: 10px;
  color: #7e7e82;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f0fdfc;
}

.button__icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.main__image-block {
  display: flex;
  align-content:  space-between;
  margin: 0;
}


    
 .header1 {
  display: flex;
  margin: 0 ;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 88px; 
  background-color: #fff;
  box-sizing: border-box;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  gap: 8px;
}

.header__right {
  gap: 12px;
}

.header__logo {
  height: 55px;
  object-fit: contain;
}

.header__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}









}


@media only screen and (min-width: 1120px) {
  .header__menu {
    justify-content: center;
    overflow-x: visible;
  }
  .header__menu-item {
    font-size: 18px;
    padding: 10px 16px;
  }
}*/